.center{
	text-align: center;
}
.media{
	margin-left: 50%;
    padding: 10px;
}
body{
	background-image: url(https://himalayantrekkers.com/uploads/posts/December2021/nepal-major-attraction-for-2022.jpg);
}
#wrapper{
	background-color: whitesmoke;
	opacity: 85%;
	width: 90%;
	height: 95%;
	margin: auto;
}
header{
	background-color: skyblue;
	text-align: center;
}
nav{
	background-color: white;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}
h1{
	font-style: italic;
	font-size: 3em;
	padding: 5%;
	font-family: cursive;
}
h2{
	text-align: left;
	font-weight: bold;
	font-size: 2em;
}
p{
	text-align: left;
	font-size: 1.2em;
}
main{
	font-family: serif;
	padding: 8px;
}
img{
	border: 1px solid black;
}
footer{
	background-color: lightskyblue;
	text-align: center ;
	padding: 0.5em;
}
.unknown-wonders {
        width: 50%;
        margin-top: 10px;
        border-collapse: collapse;
        background-color: whitesmoke;
        opacity: .8;
    }
.unknown-wonders th, .unknown-wonders td {
        border: 1px solid #ddd;
        padding: 4px;
        text-align: left;
    }
form {
       max-width: 400px;
       margin: 20px auto;
    }
label {
        display: block;
		margin-bottom: 8px;
    }
input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
fieldset {
	border: 2px solid rebeccapurple;
}
legend {
	color: rebeccapurple;
	font-weight: bold;
}
button:hover {
        background-color: #45a049;
    }
@media only screen and (max-width: 768px) {
    body {
        background-image: url('https://himalayantrekkers.com/uploads/posts/December2021/nepal-major-attraction-for-2022.jpg'); 
    }

    nav {
        width: 100%; 
        float: none; 
    }

    main {
        margin-left: 0;
    }

    h1, h2 {
        text-align: center; 
    }}